language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '20'
script:
  - npm run build
  - npm run lint
  - npm run test
# after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
